body {
    background-color: #3B3C45;
}

.customcarousel .carousel-item {
    height: 60vh;
}

.customcarousel .carousel-item img {
    object-fit: cover;
    height: 100%
}


.customcarousel .carousel-caption {

    width: 100%;
    background-color: rgb(0, 0, 0);
    left: 0;
    bottom: -120px;
    transition: 0.5s all;
}

.customcarousel:hover .carousel-caption {
    bottom: 0px;
}



.cards {

    padding: 32px 0;

    .container {
        max-width: max-content;
    }


    .grid {
        padding: 32px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

    }

}



.cta {
    position: relative;
    background-image: url("./sinister\ mark.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 60vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1;
        color: white;

    }

    .overlay {

        position: absolute;
        top: 0;

        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0, 0.8);
        backdrop-filter: blur(4px);


    }

}


footer {
    background-color: #3B3C45;
    color: white;
}

.back {
    position: fixed;
    bottom: 30px;
    right: 20px;

    a {
        padding: 10px 15px;
        border-radius: 5px;
        text-decoration: none;
        background-color: #0d6efd;
        color: white;
        font-weight: bold;
    }
}



@media screen  and (max-width: 992px) {
    
    .cards .grid{
        flex-direction: column;
        width: 100% !important;
    }

.cards .grid .card img{
    height: 200px !important;
    object-fit: cover;
    object-position: top center;
}

}

@media screen and (max-width: 756px)  {
    header .carousel-inner{
        height: 40vh !important;
    }


    .cta p{
        text-align: center;
    }


footer h3{
    text-align: center;
}

footer .link{
    justify-content: center;
    margin: 20px
}















} 